.img-thumbnail {
    margin-bottom: 5%;
}

.img-thumbnail:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

img {
    max-width: 100%;
}

  